.container{
    border: solid;
    width: 50%;
    height: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em auto;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(255, 0, 255, 0.267);
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    
}
#btnCalcular{
    width: 50%;
    height: 3em;
    margin: 2em auto;
    background-color: rgb(194, 154, 231);
    border-radius: 15px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

.num{
    border-radius: 15px;
    font-size: 15px;
    border-color: blueviolet;
}

.num:focus{
    transition: background-color.5s;
    box-shadow: 0px 0px 10px;
    
    
   
}

#btnCalcular:hover{
    border: none;
    background-color: royalblue;
    transition: background-color.5s;
    box-shadow: 0px 0px 10px;

}
.container:hover{
    box-shadow: 0px 0px 15px;


}
@media  (max-width: 500px){

    body{
        font-size: 11px;
    }
    .container{
        width: 60%;
        height: 400px;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       flex-direction: column;
        

    }
    input{
        width: 55%;
    }
    #btnCalcular{
        width: 45%;
    }
}